.btn-like {
  height: 27px;
  padding: 0 8px;
  letter-spacing: 1px;
  font-size: 14px;
  color: #78c2ad;
  border: 1px solid #78c2ad;
  border-radius: 6px;
  background: transparent;
  &:hover {
    color: #fff;
    background: #78c2ad;
  }
}

.btn-delete {
  height: 27px;
  padding: 0 8px;
  letter-spacing: 1px;
  font-size: 14px;
  color: #ff2525;
  border: 1px solid #ff2525;
  border-radius: 3px;
  background: transparent;
  &:hover {
    color: #fff;
    background: #ff2525;
  }
}

.btn-like:focus,
.btn-follow:focus,
.btn-edit:focus,
.btn-delete:focus {
  outline: none;
}

.btn-follow,
.btn-edit {
  height: 27px;
  padding: 0 8px;
  font-size: 14px;
  color: #999;
  background: transparent;
  border: 1px solid #999;
  border-radius: 3px;
  &:hover {
    color: #fff;
    background: #999;
  }
}
