@keyframes ldio-ytatrwgqymo-1 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes ldio-ytatrwgqymo-2 {
  0% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(225deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
.ldio-ytatrwgqymo > div:nth-child(2) {
  transform: translate(-15px, 0);
}
.ldio-ytatrwgqymo > div:nth-child(2) div {
  position: absolute;
  top: 22px;
  left: 22px;
  width: 66px;
  height: 33px;
  border-radius: 66px 66px 0 0;
  background: #ffff60;
  animation: ldio-ytatrwgqymo-1 1s linear infinite;
  transform-origin: 33px 33px;
}
.ldio-ytatrwgqymo > div:nth-child(2) div:nth-child(2) {
  animation: ldio-ytatrwgqymo-2 1s linear infinite;
}
.ldio-ytatrwgqymo > div:nth-child(2) div:nth-child(3) {
  transform: rotate(-90deg);
  animation: none;
}
@keyframes ldio-ytatrwgqymo-3 {
  0% {
    transform: translate(104.50000000000001px, 0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translate(38.5px, 0);
    opacity: 1;
  }
}
.ldio-ytatrwgqymo > div:nth-child(1) {
  display: block;
}
.ldio-ytatrwgqymo > div:nth-child(1) div {
  position: absolute;
  top: 50.6px;
  left: -4.4px;
  width: 8.8px;
  height: 8.8px;
  border-radius: 50%;
  background: #747474;
  animation: ldio-ytatrwgqymo-3 1s linear infinite;
}
.ldio-ytatrwgqymo > div:nth-child(1) div:nth-child(1) {
  animation-delay: -0.67s;
}
.ldio-ytatrwgqymo > div:nth-child(1) div:nth-child(2) {
  animation-delay: -0.33s;
}
.ldio-ytatrwgqymo > div:nth-child(1) div:nth-child(3) {
  animation-delay: 0s;
}
.loadingio-spinner-bean-eater-q46k123a87 {
  width: 110px;
  height: 110px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-ytatrwgqymo {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-ytatrwgqymo div {
  box-sizing: content-box;
}
